<IfModule mod_rewrite.c>
    DirectoryIndex index.php index.html
    RewriteEngine off
	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteCond $1 !^(index\.php|robots\.txt|views|plugins|backup|upload|image|runtime|install)
	 RewriteRule ^(.*)$ index.php/$1 [L]
 </IfModule>